.directions {
    padding-top: 73px;
    padding-bottom: 75px;
    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    &-item {
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        &-text {
            padding: 39px 42px 41px 42px;
            background: #679edf;
            border-radius: 15px;
            position: relative;
            flex: 1 1 auto;
            a {
                font-size: 16px;
                line-height: 120%;
                color: white;
            }
            p {
                font-weight: 600;
                font-size: 18px;
                line-height: 120%;
                color: white;
                margin-bottom: 19px;
            }
        }
        img {
            width: 242px;
            height: 100%;
            object-fit: cover;
            margin-left: -25px;
        }
    }
}
