.experience {
    padding-top: 73px;
    padding-bottom: 70px;
    @media (max-width: 768px) {
        padding-top: 63px;
        padding-bottom: 60px;
    }
    @media (max-width: 360px) {
        padding-top: 53px;
        padding-bottom: 50px;
    }
    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 47px;
        @media (max-width: 768px) {
            max-width: 540px;
        }
        & > div {
            img {
                width: 100%;
                height: 341px;
                object-fit: cover;
                border-radius: 20px;
                @media (max-width: 992px) {
                    height: 225px;
                }
                @media (max-width: 768px) {
                    height: 341px;
                }
                @media (max-width: 360px) {
                    height: 209px;
                }
            }
            &:first-child {
                display: flex;
                flex-direction: column;
                gap: 19px;
            }
        }
        @media (max-width: 992px) {
            gap: 43px;
            align-items: flex-end;
            grid-template-columns: 1.4fr 1fr;
        }
        @media (max-width: 768px) {
            gap: 35px;
            grid-template-columns: 1fr;
        }
    }
    &__note {
        padding: 18px 23px;
        background: #f8f8f8;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #333333;
        margin-top: -6px;
        position: relative;
        margin-left: 14px;
        width: fit-content;
        &:before {
            content: '';
            display: block;
            height: 100%;
            width: 7px;
            background: #679edf;
            border-radius: 2px;
            position: absolute;
            top: 0;
            left: -14px;
        }
    }
}
