.footer {
    background: #e2edf5;
    &-block {
        padding-top: 60px;
        padding-bottom: 65px;
    }
    &__title {
        max-width: 577px;
        margin-bottom: 44px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #333333;
        margin-bottom: 15px;
    }
    &__text {
        font-size: 14px;
        line-height: 120%;
        color: #333333;
    }
    &-grid {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
    }
    &-flex {
        display: flex;
        gap: 45px;
        &:first-child {
            & > div:first-child {
                max-width: 228px;
            }
            & > div {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__socials-list {
        display: flex;
        gap: 7px;
        li {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #679edf;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
